<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="menu-container">
      <h1><%= title %></h1>
      <div>
        <h1>Food</h1>
       
      </div>
      <ul>
        <% items.map((item, index) => { %>
        <li class="menu-item">
          <div>
            <label><%= item.category.join(", ") %></label>
            <h3><%= item.name %></h3>
            <span>
              <%= item.RawMaterial_MenuItems.map((rawMaterialMenuItem) => {
              return rawMaterialMenuItem.RawMaterial.name; }).join(", ") %>
            </span>
          </div>
          <div class="price"><%= item.price %>,-</div>
        </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>

<style>
  li {
    width: 20rem;
    display: flex;
    justify-content: space-between;
  }
</style>
